body{
   font-family: "Poppins", sans-serif;
}

.title{
   font-family: "Playfair Display", serif;
}

.footer-title{
   font-family: "Playfair Display", serif;
}

.header-img{
   display: flex;
   justify-content: center;
}